[http]
	sslVerify = false
	proxy = http://localhost:3128

[user]
	email = robert.miller1@bhpbilliton.com
	name = rob miller
[core]
	editor = "emacs -nw"
	
[push]
	default = current
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[https]
	proxy = http://localhost:3128
