[http]
	sslVerify = false
	postBuffer = 100000000

[user]
#	email = funky.style@gmail.com
	name = rob miller
	email = robert.miller1@bhp.com
[core]
	editor = "vim"
	autocrlf = input
	#whitespace = cr-at-eol
	safecrlf = false
	eol = lf
	filemode = false

	
[push]
	default = current
[alias]
	st = status
	semver = tag --list release/* --sort=-version:refname
        gl = log --simplify-by-decoration --decorate --oneline
	purge-tag = !git tag --delete $1 && git push --delete origin $1 && :
	ec = config --global -e
	hist = log --pretty=format:'%C(yellow)[%ad]%C(reset) %C(green)[%h]%C(reset) | %C(red)%s %C(bold red){{%an}}%C(reset) %C(blue)%d%C(reset)' --graph --date=short --all
[pull]
	rebase = false

[color "status"]
        branch = magenta
        untracked = cyan
        unmerged = yellow
[init]
	defaultBranch = main

[credential]
	helper = store
