ssh/.ssh/known_hosts

# Ignore the credentials file for fish
fish/.config/fish/.credentials


# Ignore everything by default, then manage by exception
emacs/.emacs.d/*
!emacs/.emacs.d/init.el
!emacs/.emacs.d/snippets/
!emacs/.emacs.d/templates/

# This file is for custom bash directives that aren't common
# eg WSL vs Actual Linux
bash/.bash/custom.bash
bash/.bash/.secrets

ssh/.ssh/iiot/