ssh/.ssh/known_hosts

# Ignore the credentials file for fish
fish/.config/fish/.credentials


# Ignore everything by default, then manage by exception
Configs/emacs/.emacs.d/*
!Configs/emacs/.emacs.d/init.el
!Configs/emacs/.emacs.d/snippets/
!Configs/emacs/.emacs.d/templates/
!Configs/emacs/.emacs.d/early-init.el

# This file is for custom bash directives that aren't common
# eg WSL vs Actual Linux
Configs/bash/.bash/custom.bash
Configs/bash/.bash/.secrets

ssh/.ssh/iiot/